.aside_block {
    width: 250px;
    height: 1500px;
    border: 1px solid black;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside_tag {
    margin-top: 15px;
}

.aside_tag:hover {
    cursor: pointer;
    text-decoration: underline;
}